.brands {
	.brands-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap:toRem(23);
		@media screen and (max-width: 1180px) {
			gap: toRem(20);
		}
		@media screen and (max-width: 768px) {
			display: none;
		}
		img {
			width: 15%;
		}
	}
	padding-bottom: toRem(50);
	h2 {
		text-align: center;
		font-size: toRem(16);
		font-weight: 700;
		margin-bottom: toRem(20);
		@media screen and (max-width: 768px) {
			font-size: toRem(24);
		}
	}
	.swiper {
		display: none;
		@media screen and (max-width: 768px) {
			display: block;
			.swiper-wrapper {
				width: 90%;
				margin: auto;
				img {
					@media screen and (max-width: 486px) {
						width: 90%;
					}
				}
			}
		}
	}
}