.newsletter {
	@media screen and (max-width: 640px) {
		background-color: $whiteMedium;
		border-bottom: toRem(4) solid $whiteDark;
		border-top: toRem(4) solid $whiteDark;
		flex-direction: column;
	}
	&__content {
		display: flex;
    align-items: center;
    justify-content: space-between;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			padding: 0 !important;
		}
	}
	&__form {
		label {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0);
			white-space: nowrap;
			border-width: 0;
		}
		position: relative;
		width: 100%;
    max-width: 630px;
		input {
			padding: toRem(10);
			border: none;
			border-radius: toRem(7);
			background-color: $whiteDark;
			color: $blackLight;
			width: 100%;
			@media screen and (max-width: 640px) {
				width: 70%;
				background-color: white;
				border: toRem(1) solid $blackLight;
			}
		}
		.search {
			position: absolute;
			right: 0;
			width: 25%;
		}
	}
	border-bottom: toRem(2) solid $whiteDark;
	border-top: toRem(2) solid $whiteDark;
	margin-bottom: toRem(30);
	padding: toRem(40);
}