@import './components/variables';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}
body {
	font-size: toRem(16);
	font-family: "Titillium Web", sans-serif;
}

@import './components/header';

@import './components/footer';

@import './components/newsletter';

@import './components/access';
@import './components/banner';
@import './components/brands';
@import './components/products';
@import './components/features';
@import './components/article';

.container {
	margin: 0 auto;
	max-width: 1600px;
	padding: 0 30px;
	&.newsletter__content, &.footer-list {
		max-width: 980px;
	}
	@media screen and (max-width: 768px) {
		padding: 0 30px;
	}
}

.sr-only {
	border-width: 0;
	clip: rect(0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.flex {
	align-items: center;
	display: flex;
}

.modal-wrapper {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 10;
	.modal-content {
		.modal-email {
			.modal-title {
				align-items: center;
				display: flex;
				flex-direction: column;
				gap: toRem(15);
				justify-content: center;
				h2 {
					font-size: toRem(12);
					font-weight: 400;
					text-transform: uppercase;
					color: $grayDark;
				}
			}
			form {
				.search {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: toRem(6);
					text-transform: uppercase;
					font-weight: 700;
				}
				display: -ms-grid;
				display: grid;
				gap: toRem(10);
				width: 75%;
				margin: auto;
				input {
					padding: toRem(10);
					border: toRem(1) solid $grayLight;
					border-radius: toRem(7);
				}
			}
			display: -ms-grid;
			display: grid;
			margin: auto;
			gap: toRem(25);
			width: 100%;
			.text {
				color: $grayRegular;
				font-size: toRem(20);
				text-align: center;
				p {
					line-height: toRem(20);
					span {
						font-weight: 700;
					}
				}
			}
		}
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		margin: auto;
		background-color: white;
		position: relative;
		.close {
			position: absolute;
			top: -4%;
			right: 0;
			font-size: toRem(12);
			text-transform: uppercase;
			color: white;
			cursor: pointer;
		}
	}
}















.search {
	background-color: $destaque5;
	color: white;
	padding: toRem(10);
	border: none;
	border-radius: toRem(7);
	cursor: pointer;
}
li {
	list-style: none;
}

.modal-wrapper.show {
	visibility: visible;
	opacity: 1;
	-webkit-transition: 1s;
	transition: 1s;
}




@media screen and (max-width: 768px) {
	.line {
		display: none;
	}

	.modal-wrapper {
		.modal-content {
			width: 90%;
			padding: toRem(40);
			-ms-grid-columns: none;
			grid-template-columns: none;
			.close {
				top: -7%;
			}
			img.banner-modal {
				display: none;
			}
			.modal-email {
				gap: toRem(30);
				form {
					width: 90%;
				}
			}
		}
	}
}
